.header{
	width: 1920px;
	height: 880px;
	position: relative;
}
.header__top{
	width: 1330px;
	height: 165px;
	margin: auto;
}

.header__communicate{
	max-width: 100%;
	height: 105px;
}

.header__communicate ul li{
	list-style-type: none;
	display: inline-block;
}

p.left i{
	color: #29d197;
}

p.left span{
	color: white;
	font-size: 14px;
	padding-left: 7px;
}

li.phone{
	padding-left: 50px;
}

li.email{
	padding-left: 50px;
}

.header__communicate a{
	text-decoration: none;
}

.header__communicate ul{
	padding-top: 50px;
	display: inline-block;
}

.social--icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #d7bd73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 1px;
    border-radius: 50%;
}

.social--icon li a:hover{
    background: #29d197;
}

.social--icon li a .fa{
    color: #fff;
    font-size: 20px;
}

.social--icon{
	margin-left: 380px;
}

.social--icon span{
	color: #29d197;
}

.header__menu{
	max-width: 100%;
	height: 60px;
	font-family: 'Poppins', sans-serif;
}

.logo{
	width: 230px;
	height: 60px;
	float: left;
}

.logo img{
	width: 115px;
	height: 60px;
	display: block;
}

.menu--tittle{
	width: 840px;
	height: 60px;
	float: left;
}

.menu--tittle ul{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.menu--tittle a{
	text-decoration: none;
}

.menu--tittle a li{
	font-size: 15px;
	font-weight: bold;
	color: white;
	padding-top: 20px;
}

.menu--tittle a li:hover{
	color: #43efb9;
}


.login_out{
	width: 230px;
	height: 60px;
	float: left;
	margin-left: 20px;
}

.login_out button{
	width: 230px;
	height: 60px;
	border-radius: 40px;
	background-color: #43efb9;
	border: none;
	cursor: pointer;
}

.login_out button i{
	color: white;
}

.btn:hover{
	background: none;
	border: 2px solid orange;
}

.slider__contain{
	width: 1545px;
	height: 290px;
	margin-top: 170px;
	position: relative;
}

.slider__contain--box{
	width: 650px;
	height: 100%;
	float: right;
}

.slider__contain--box h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 55px;
	text-align: right;
	font-weight:900;
}

.slider__contain--box span{
	color: #43efb9;
	font-weight: normal;
}

.box--1{
	width: 480px;
	height: 60px;
	float: right;
	margin-top: 50px;
}

.box--1--left{
	width: 235px;
	height: 60px;
	border-radius: 40px;
	border: none;
	background-color: #43efb9;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.box--1--right{
	width: 235px;
	height: 60px;
	float: right;
	border-radius: 40px;
	border: 2px solid #43efb9;
	color: white;
	font-weight: bold;
	font-size: 15px;
	box-sizing: border-box;
	background: none;
}

.box--1--left:hover,
.box--1--left:focus{
	background: none;
	border: 2px solid #43efb9;
	box-sizing: border-box;
	cursor: pointer;
}

.box--1--right:hover,
.box--1--right:focus{
	background: #43efb9;
	cursor: pointer;
}

.slider{
	width: 1920px;
	height: 880px;
	position: relative;
	top: -880px;
	z-index: -1;
}

.slider img{
	width: 1920px;
	height: 880px;
	display: block;
}
.session{
	width: 1920px;
	height: 500px;
	margin-top: -880px;
}